.creation {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card-creation {
    margin : 20px;
    max-width: 400px;
    width: 400px;
    /* display: flex;
    flex-direction: column; */
}

.form-group {
   display: flex;
flex-direction: column; 
}

 img {
     height: 300px;
 }
.card {
  max-width: 400px;
  margin : 10px;
}

.header-image {
  background-image: url('https://images.vexels.com/media/users/3/147102/isolated/preview/082213cb0f9eabb7e6715f59ef7d322a-instagram-profile-icon-by-vexels.png');
  background-size: cover;
}

.card-button {
    border: 1px #dadada solid;
}
h1 {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 2em;
}