.all-cards {
    display: flex;
    justify-content: center;
}
 img {
     height: 300px;
 }
.card {
  max-width: 400px;
  margin : 10px;
}

.header-image {
  background-image: url('https://images.vexels.com/media/users/3/147102/isolated/preview/082213cb0f9eabb7e6715f59ef7d322a-instagram-profile-icon-by-vexels.png');
  background-size: cover;
}

button : {
    border: 1px #000000 solid;
}